{% load static %}

<footer class="p-12">
    <div class="flex max-w-5xl mx-auto justify-evenly">
        <div class="w-80">
            <img class="w-64" src="{% static 'main/images/logo.png' %}" />
        </div>
        <div class="w-max mx-0 grid gap-2">
            <h1 class="font-bold text-xl">
                O нас
            </h1>
            <p>О компании</p>
            <p>Преимущества</p>
            <p>Отзывы</p>
        </div>
        <div class="w-max mx-0 grid gap-2">
            <h1 class="font-bold text-xl">Услуги</h1>
            <p>Ашхабад</p>
            <p>Анау</p>
            <p>Бизмин</p>
        </div>
        <div class="w-max mx-0 grid gap-2">
            <h1 class="font-bold text-xl">Контакты</h1>
            <p>Номер: +99360000000</p>
            <p>Почта: bagtly_oy.info@gmail.com</p>
            <p>Мы вам рады!</p>
        </div>
    </div>
</footer>
